.ScrollTopButtonWrapper:hover {
    background-color: #e9e9e9;
}

@keyframes scroll_btn_open {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: flex;
        opacity: 1;
    }
}

@keyframes scroll_btn_close {
    from {
        display: flex;
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}