.ModalContainer {
    animation: mobile_modal_open 0.5s forwards;
}

.ModalCloseContainer {
    animation: mobile_modal_close 0.5s forwards;
}

.CloseButton {
    animation: mobile_close_button 0.3s forwards;
}

@keyframes mobile_modal_open {
    from {
        opacity: 0;
        transform: translateX(-500px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes mobile_modal_close {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-500px);
    }
}

@keyframes mobile_close_button {
    from {
        display: none;
        opacity: 0;
        transform: scale(0);
    }
    to {
        display: flex;
        opacity: 1;
        transform: scale(1);
    }
}