.GradientContainer {
    animation: gradient_appear 1.5s forwards;
    animation-delay: 0.5s;
}

.NoneGradientContainer {
    animation: gradient_disappear 0.5s forwards;
}

.CharactorImage {
    animation: charactor_appear 1.5s forwards;
    animation-delay: 0.5s;
}

.NoneCharactorImage {
    animation: charactor_disappear 1.5s forwards;
}

@keyframes gradient_appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes gradient_disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes charactor_appear {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes charactor_disappear {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}