.InstaIcon {
    animation: instar_fade_out 0.5s forwards;
}

.TwitterIcon {
    animation: twitter_fade_out 0.5s forwards;
    animation-delay: 0.1s;
}

.DiscordIcon {
    animation: discord_fade_out 0.5s forwards;
    animation-delay: 0.2s;
}

.YoutubeIcon {
    animation: youtube_fade_out 0.5s forwards;
    animation-delay: 0.3s;
}

@keyframes instar_fade_out {
    from {
        opacity: 0;
        transform: translateX(48%) translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0) translateY(0px);
    }
}

@keyframes twitter_fade_out {
    from {
        opacity: 0;
        transform: translateX(48%) translateY(80px);
    }
    to {
        opacity: 1;
        transform: translateX(0) translateY(0px);
    }
}

@keyframes discord_fade_out {
    from {
        opacity: 0;
        transform: translateX(-48%) translateY(80px);
    }
    to {
        opacity: 1;
        transform: translateX(0) translateY(0px);
    }
}

@keyframes youtube_fade_out {
    from {
        opacity: 0;
        transform: translateX(-48%) translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0) translateY(0px);
    }
}