.MenuIconContainer {
    animation: menu_modal_open 0.6s forwards;
}

@keyframes menu_modal_open {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}