/* .ImageSlideContainer {
    animation-name: slide_end;
    animation-duration: 1s;
    animation-delay: 4s;
} */

.ImageSlideContainer {
    animation: slide_show 1.5s forwards;
}

.ImageContainer {
    animation: slide_end 1.5s forwards;
}

.NotActionImage {
    opacity: 0;
}

@keyframes slide_show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide_end {
    0% {
        opacity: 1;
        /* transform: translateY(60px); */
    }
    100% {
        opacity: 0;
        /* transform: translateY(0px); */
    }
}